[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-stubs = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
djangorestframework-stubs = "*"

[dev-packages]
flake8 = "*"
black = "*"
pre-commit = "*"
mypy = "*"

[requires]
python_version = "3.10"

[scripts]
start = "python manage.py runserver"
migrate = "python manage.py migrate"
